{% extends "base.html" %} {% block student %}
<div class="card">
  <div class="card-body ">
    Please Do't  press refresh and back.
  </div>
</div>
        <div class="mr-3 ml-3 mt-3">
            <form action="{% url 'done' %}" method="POST">
                {% csrf_token %} {% for ques in questions %}
                <div class="card border-secondary mb-3">
                    <div class="card-header">{{ques.id}}. {{ques.question}}</div>
                    <div class="card-body text-secondary">
                        <input type="radio" name="{{ques.id}}" value=A>
                        <label class="card-text">{{ques.option_A}}</label>
                        <br>
                        <input type="radio" name="{{ques.id}}" id="" value=B>
                        <label class="card-text">{{ques.option_B}}</label>
                        <br>
                        <input type="radio" name="{{ques.id}}" id=""value=C>
                        <label class="card-text">{{ques.option_C}}</label>
                        <br>
                        <input type="radio" name="{{ques.id}}" id="" value=D>
                        <label class="card-text">{{ques.option_D}}</label>
                    </div>
                </div>
                {% endfor %}
                <input type="submit" name="" id="" value="Submit" class="btn btn-success btn-block">
            </form>

        </div>
        {% endblock student %}