<!--Registrations-->

{% extends 'base.html' %} {% block register %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-6 col-lg-12 mt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#student" role="tab" aria-controls="home" aria-selected="true">Student</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="profile" aria-selected="false">Teacher</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="contact" aria-selected="false">Admin</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="home-tab">
                    <!-- student logins tab -->
                    <div class="container-fluid mt-3 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="background-color:rgba(184, 13, 13, 0.281);">
                                        <form action="{% url 'register' %}" method="POST" role='form'>
                                            {% csrf_token %} {% for form in StudentRegFrom %}
                                            <div class="form-group">
                                                {{form.label_tag}}
                                                <p>{{ form}} </p>
                                            </div>
                                            {% endfor %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="teacher" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- teacher logins tab -->
                    <div class="container-fluid mt-3 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="background-color: rgba(6, 226, 17, 0.281);">
                                        <form action="{% url 'register' %}" method="POST" role='form'>
                                            {% csrf_token %} {% for forms in TeacherRegForm %}
                                            <div class="form-group">
                                                {{forms.label_tag}}
                                                <p>{{ forms}} </p>
                                            </div>
                                            {% endfor %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="contact-tab">
                    <!-- forms -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock register %}