{% comment %} <!--Signup Form / Registrations-->
{% extends 'base.html' %} {% block login %} {% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                <input type="radio" id="" name="status" value="Student">
                <label for="Student">Student</label><br>
                <input type="radio" id="" name="status" value="Teacher">
                <label for="Teacher">Teacher</label><br> 
                {{ UserForm|crispy }}
                {{ UserForm.errors }}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock login %} {% endcomment %}