{% extends 'QuizMake.html' %} 
 {% block QuizMake %}
 {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <h4 class="alert-heading">{{note}}</h4>
                    <p>{{message}}</p>
                    <hr>
                    {% if filled_form_pk %}
                        <a href="{% url 'AddQues' pk=filled_form_pk %}" class='btn btn-primary'>Add questions {{filled_form_pk}}</a> 
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
 <a href="{% url 'manage' %}" class="btn btn-primary">Manage Quiz</a>
{% if test %}
{{test}}
{% endif %}
    {% endblock QuizMake %}
