{% extends 'base.html' %}
 
{% block QuizMake %}
<div class="container-fluid mt-4">
    <div class='row'>
        <div class=col-md-2>
        </div>
        <div class=col-md-8>
            <table class='table'>
                <caption class="bg-warning">This is Quiz Table</caption>
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Code</th>
                        <th scope="col">Total Question</th>
                        <th scope='col'>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for t in test %}
                    <tr>
                    <th scope="row">{{t.id}}</th>
                    <td>{{t.subject}}</td>
                    <td>{{t.code}}</td>
                    <td>{{t.number_of_questions}}</td>
                    <td>
                    <a href="{% url 'delete_test' t.id %}" class='btn btn-danger'>Delete</a>
                    <a href="{% url 'edit_test' t.id  %}" class='btn btn-warning'>Edit Test</a>
                    <a href="{% url 'AddQues' t.id  %}" class='btn btn-warning'>Edit Question</a>
                    </tr>
                        
                {% endfor %}
                </tbody>
               
                    
                    
                    
                
            </table>
        </div>
        <div class=col-md-2>
        </div>
    </div>
</div>
  
{% endblock QuizMake %}