{% extends 'base.html' %} {% block QuizMake %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8 " style="background-color:rgba(231, 10, 194, 0.5);">
            {% block first %}
            <form method="POST" action="" role="form" class='mt-4' style="background-color:rgba(190, 231, 10, 0.5);">
                {% csrf_token %}
                <table class="table">
                    {{forms.as_table}}
                    {{question_set}}

                </table>
                <h1>{{filled_form_id}}</h1>
                <input type="submit" name="" id="" value="Save teat & Add Ques." class='btn btn-block btn-primary'>
            </form>
           
            {% endblock first %}
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

{% endblock QuizMake %}